*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
  overflow: hidden;
}

body {
  background-color: #181818;
  color: white;
}

ul {
  list-style: none;
}

.video-block {
  max-width: 340px;
  font-size: 0.9rem;
  color: #aaa7a1;
  margin-top: 1rem;
}

.descricao-geral {
  display: flex;
  margin-top: 0.5rem;
}

.descricao-texto {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

.canal-icone {
  border-radius: 50%;
  max-width: 40px;
  max-height: 40px;
}

.thumbnail-imagem {
  max-width: 340px;
}

.titulo {
  font-weight: bold;
  font-size: 1.1rem;
  color: white;
  margin-bottom: 0.5rem;
  letter-spacing: 0.3px;
  max-width: 280px;
}

.videos {
  display: grid;
  grid-template-columns: repeat(5, minmax(auto, 360px));
  transform: translateX(100px);
  border-bottom: 4px solid #303030;
  padding-bottom: 3rem;
  max-width: max-content;
}

.video-tips,
.barra-lateral,
.navigation-section {
  background-color: #202020;
}

.video-tips {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.5rem;
  font-size: 0.8rem;
  border-top: 0.01em solid #444;
  border-bottom: 0.01em solid #444;
  margin-bottom: 0.5rem;
  overflow: hidden;
  max-width: 100%;
  transform: translateX(60px);
}

.video-recom {
  padding: 0.5em 1em;
  background-color: #373737;
  border: 0.01em solid #444;
  border-radius: 10000px;
}

.navigation-section img {
  max-height: 30px;
}

.navigation-section {
  padding: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icon-menu {
  display: flex;
}

.logo {
  display: flex;
  align-items: center;
  margin-left: 2rem;
}

.logo span {
  margin-left: 0.2rem;
  font-weight: bold;
  letter-spacing: 0.01px;
  display: flex;
}

.logo span::after {
  content: "BR";
  font-weight: normal;
  color: #a4a4a4;
  font-size: 10px;
  margin-left: 0.1rem;
}

.search-bar {
  display: flex;
  align-items: stretch;
}

input {
  border: none;
}

.search-bar input {
  background-color: #121212;
  color: white;
  width: 30vw;
  padding: 0.5rem;
  font-size: inherit;
  border: 0.000001em solid #444;
}

.btn {
  background: none;
  border: none;
  outline: none;
}

.search-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #313131;
  padding: 0.1rem 1.5rem;
  border: 0.000001em solid #444;
  border-left: none;
}

.mic-btn {
  align-self: center;
  margin-left: 1rem;
}

.search-btn img {
  max-width: 22px;
}

.mic-btn img,
.buttons-list li img {
  max-height: 26px;
}

.buttons-list {
  display: flex;
}

.buttons-list li {
  margin-left: 1.5rem;
}

.own-icon {
  border-radius: 50%;
}

.seta-direita img {
  max-height: 20px;
}

.barra-lateral {
  position: fixed;
  top: 75px;
  left: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: max-content;
  padding: 0.3em;
}

.item-lateral {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  font-size: 0.6rem;
}

.item-lateral img {
  max-height: 26px;
  max-width: 26px;
  margin-bottom: 0.5rem;
}

.video-block:first-child {
  visibility: hidden;
}
